<div data-collapse="medium" data-animation="default" data-duration="300" fs-scrolldisable-element="smart-nav"
  data-easing="ease" data-easing2="ease" role="banner" class="nav-bar w-nav">
  <div class="container navigation-container">
    <a href="/" class="nav-logo w-inline-block">
      <img src="https://cdn.prod.website-files.com/66da0a4d2fcd7787f1256377/66e1e7a0c3f949b974219e40_Open%20Heart.svg"
        loading="lazy" width="Auto" alt="Company Logo" class="nav-logo-image" />
    </a>
    <div class="nav-menu-button w-nav-button">
      <div class="navha-hamburger-button w-hidden-main">
        <img
          src="https://cdn.prod.website-files.com/66da0a4d2fcd7787f1256377/66da0a4d2fcd7787f12563b4_Hamburger%20icon.svg"
          loading="lazy" alt="" class="nav-hamburger-icon" />
        <img src="https://cdn.prod.website-files.com/66da0a4d2fcd7787f1256377/66da0a4d2fcd7787f12563b5_close.svg"
          loading="lazy" alt="" class="nav-close-icon" />
      </div>
    </div>
    <nav role="navigation" class="nav-links-conatiner w-nav-menu">
      <div class="nav-inner-container">
        <a href="/heart-analysis/predict" class="nav-link">Análise Cardíaca</a>
        <a href="/heart-analysis/results" class="nav-link">Resultados</a>
      </div>
      <div class="nav-cta-button-conatiner">
        <button class="primary-button primary-button-slim w-button">Acurácia atual:
          {{accuracyService.currentAccuracy}}</button>
      </div>
    </nav>
  </div>
</div>
