<div class="footer-section grey-background">
  <div class="container container-footer">
      <div class="footer-newsletter-wrapper">
          <div class="footer-newsletter-text-wrapper">
              <div class="heading-h3 margin-bottom-16">Join Our Newsletter</div>
              <div class="paragraph-18">We’ll send you a nice letter once per week. No spam.</div>
          </div>
          <div class="footer-form-block w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get" class="footer-form" data-wf-page-id="66da0a4d2fcd7787f125638d" data-wf-element-id="4ad33e05-cb46-dd37-429a-0228cae99968">
                  <input class="text-field w-node-_4ad33e05-cb46-dd37-429a-0228cae99969-c81abd4e w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" type="email" id="email" required=""/>
                  <input type="submit" data-wait="Please wait..." class="primary-button primary-button-slim w-button" value="Subscribe"/>
                  <div class="paragraph-16">
                      We care about your data in our <a href="/" class="text-style-link">privacy policy</a>
                      .
                  </div>
              </form>
              <div class="success-message w-form-done">
                  <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="error-message w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
              </div>
          </div>
      </div>
      <div class="w-layout-grid footer-grid">
          <div class="footer-company-container">
              <a href="#" class="footer-logo-container w-inline-block">
                  <img src="https://cdn.prod.website-files.com/66da0a4d2fcd7787f1256377/66e1e7a0c3f949b974219e40_Open%20Heart.svg" loading="lazy" alt="Company logo" class="footer-logo-img"/>
              </a>
              <h3 class="footer-title">About us</h3>
              <div class="footer-about-text-container">
                  <p class="paragraph-16 margin-bottom-24">
                      At Open Heart Clinic, we combine experienced doctors with advanced medical equipment to ensure you receive the best care possible. Our team is dedicated to providing high-quality services that prioritize your heart health and well-being.<br/>
                  </p>
              </div>
              <p class="footer-title">Follow us</p>
              <div class="w-layout-grid footer-social-links-grid">
                  <a href="http://linkedin.com/feed/" target="_blank" class="footer-social-link w-inline-block">
                      <img src="https://cdn.prod.website-files.com/66da0a4d2fcd7787f1256377/66da0a4d2fcd7787f12563b6_LinkedIn.svg" loading="lazy" alt="LinkedIn logo"/>
                  </a>
                  <a href="https://twitter.com/home" target="_blank" class="footer-social-link w-inline-block">
                      <img src="https://cdn.prod.website-files.com/66da0a4d2fcd7787f1256377/66da0a4d2fcd7787f12563b0_Twitter.svg" loading="lazy" alt="Twitter logo"/>
                  </a>
                  <a href="https://www.instagram.com/" target="_blank" class="footer-social-link w-inline-block">
                      <img src="https://cdn.prod.website-files.com/66da0a4d2fcd7787f1256377/66da0a4d2fcd7787f12563cf_Instagram.svg" loading="lazy" alt="Instagram logo"/>
                  </a>
                  <a href="https://www.youtube.com/" target="_blank" class="footer-social-link w-inline-block">
                      <img src="https://cdn.prod.website-files.com/66da0a4d2fcd7787f1256377/66da0a4d2fcd7787f12563cb_Youtube.svg" loading="lazy" alt="YouTube logo"/>
                  </a>
                  <a href="https://facebook.com/" target="_blank" class="footer-social-link w-inline-block">
                      <img src="https://cdn.prod.website-files.com/66da0a4d2fcd7787f1256377/66da0a4d2fcd7787f12563aa_Facebook.svg" loading="lazy" alt="Facebook logo"/>
                  </a>
              </div>
          </div>
          <div class="footer-link-list">
              <div class="footer-links-heading">Services</div>
              <a href="/" class="footer-links w-inline-block">
                  <div>Homepage</div>
              </a>
              <a href="#" class="footer-links w-inline-block">
                  <div>All Services</div>
              </a>
              <a href="#" class="footer-links w-inline-block">
                  <div>Services 1</div>
              </a>
          </div>
          <div class="footer-link-list">
              <div class="footer-links-heading">Company</div>
              <a href="/about" class="footer-links w-inline-block">
                  <div>About us</div>
              </a>
              <a href="/careers" class="footer-links w-inline-block">
                  <div>Careers</div>
              </a>
              <a href="/contact" aria-current="page" class="footer-links w-inline-block w--current">
                  <div>Contact</div>
              </a>
          </div>
          <div class="footer-link-list">
              <div class="footer-links-heading">Other Pages</div>
              <a href="/system/license" class="footer-links w-inline-block">
                  <div>Licenses</div>
              </a>
              <a href="/system/style-guide" class="footer-links w-inline-block">
                  <div>Style Guide</div>
              </a>
              <a href="/system/change-log" class="footer-links w-inline-block">
                  <div>Change Log</div>
              </a>
              <a href="/404" class="footer-links w-inline-block">
                  <div>404 page</div>
              </a>
              <a href="/401" class="footer-links w-inline-block">
                  <div>Protected page</div>
              </a>
          </div>
      </div>
      <div class="footer-bottom-links">
          <div class="w-layout-grid footer-bottom-links-grid">
              <a href="/system/license" class="footer-link small">Licenses</a>
              <a href="/system/style-guide" class="footer-link small">Style Guide</a>
              <a href="/system/change-log" class="footer-link small">Change Log</a>
              <a href="/system/instructions" class="footer-link small">Instructions</a>
          </div>
          <div class="footer-copyright-wrapper">
              <p class="paragraph-16">
                  Made by <a href="http://www.aaronrudyk.com" target="_blank">Aaron Rudyk</a>
              </p>
              <p class="paragraph-16">
                  Powered by <a href="https://webflow.com/" target="_blank">Webflow</a>
              </p>
          </div>
      </div>
  </div>
</div>
